/* Container Styling */
.filetree-container {
  border-radius: 6px;
  padding: 20px;
  width: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

/* Button Styling */
.btn {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #0366d6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.btn:active {
  transform: translateY(0);
}

.file-tree {
  width: 100%;
  overflow-y: auto;
  max-height: 400px;
}

/* Folder Styling */
.file:hover {
  background-color: #f1f8ff;
}

/* Folder Icon Styling */
.folder svg {
  margin-right: 8px;
}

/* File Styling */
.file {
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  display: flex;
  align-items: center;
  color: #586069;
}

/* Shift right by nesting level */
ul {
  list-style-type: none;
  padding-left: 6.67px; /* Base padding */
  margin: 0;
}

ul[data-level="1"] {
  padding-left: 13.34px;
}

ul[data-level="2"] {
  padding-left: 20px;
}

ul[data-level="3"] {
  padding-left: 26.67px;
}

/* Continue to add more levels as needed */

.file:hover {
  background-color: #f6f8fa;
}

/* File Icon Styling */
.file svg {
  margin-right: 8px;
}

/* Selected File Styling */
.file.selected {
  background-color: #f8fcf7;
  border-radius: 3px;
  color: #4d7e4d;
}

.line.selected {
  background-color: #f8fcf7;
  border-radius: 3px;
  color: #4d7e4d;
}

.filetree-container {
  position: relative;
}

.filetree-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.filetree-header h3 {
  margin: 0;
}

.btn.refetch-directory {
  margin: 0;
  position: absolute;
  top: 16px;
  right: 5px;
  box-shadow: none;
}

.btn.refetch-directory:hover {
  background-color: #fff;
  color: #22863a;
}

.filetree-header .refetch-directory {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  font-size: 16px;
}
